p {
  margin: 0;
}

.card__location {
  grid-area: location;
  font-weight: normal;
}

.card__location p:first-child {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.card__location p:last-child {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.card__currentWeather {
  grid-area: current-weather;
  display: inline-block;
  align-self: flex-end;
  position: relative;
}

.card__currentWeather p {
  display: inline-block;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}

.card__currentWeather p span {
  position: relative;
  top: -6px;
  left: 4px;
  margin-right: 4px;
  font-size: 18px;
}

.card__weatherIcon {
  grid-area: weather-icon;
  justify-self: flex-end;
  align-self: flex-start;
  position: relative;
}

.card__weatherIcon img {
  position: absolute;
  top: -13px;
  right: -11px;
  width: 92px;
}

.card__day {
  grid-area: card-day;
  justify-self: flex-end;
  align-self: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.card {
  grid-template-columns: 1.9fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "location          weather-icon"
    "current-weather   card-day";
}

/* For tablet on landscape mode and for desktop */
@media (min-width: 768px) and (max-width: 1079px) and (orientation: landscape) , (min-width: 1080px) {
  .card {
    position: relative;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.3fr 1.2fr;
    grid-template-areas:
      "location"
      "weather-icon"
      "current-weather"
  }
  .card__location,
  .card__currentWeather {
    text-align: center;
  }
  .card__weatherIcon {
    justify-self: initial;
    align-self: initial;
  }
  .card__weatherIcon img {
    position: absolute;
    height: 105%;
    width: 80%;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    margin: auto;
  }
  .card__currentWeather {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
  }
  .card__currentWeather span:last-child {
    font-family: 'Open-sans', sans-serif;
    font-size: 18px;
    margin-top: 5px;
  }
  .card__currentWeather p span {
    margin-top: 0 !important;
  }
  .card__day {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    color: #27ac34;
    text-align: center;
  }
}
