.App {
  color: white;
  padding: 65px 10px 20px 10px;
  background-color: #4D4069;
  min-height: 100vh;
}

.App h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  background-color: #4d4069;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

.searchBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 0;
  background-color: #4d4069;
  transition: all 0.3s ease-out;
}

.searchBoxShow {
  width: 55% !important;
}

.searchBox input {
  position: absolute;
  top: 10px;
  left: 40px;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  transition: padding-left 0.3s ease-out;
}

.searchBox input:focus {
  outline-color: #4286f4
}

.searchBoxShowInputPadding {
  padding-left: 7px;
}

.searchBox__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 23px;
}
